authconfig:
  basedn: CN=Users,DC=ad,DC=global,DC=somedomain,DC=net
  bind_user: cn=Administrator,CN=Users,dn=ad,dn=global,dn=somedomain,dn=net
  computer_ou: OU=Linux,OU=ITManagedServers,DC=ad,DC=global,DC=somedomain,DC=net
  domain: ad.global.somedomain.net
  krb_dc_host: globalad.corp.somedomain.net
  realm: AD.GLOBAL.SOMEDOMAIN.NET
  sdb_sssd_pass: sdb://foo/bar
  sssd_name: username
  servers:
    - ad.somedomain.net ##This value will be discovered and should not need to be set if your network has domain controllers.
