authconfig:
  basedn: DN=ad,DN=somedomain,DN=net
  bind_user: cn=Administrator,CN=Users,dn=ad,dn=somedomain,dn=net
  computer_ou: something
  domain: test
  krb_dc_host: globalad.corp.adobe.com
  realm: ad.somedomain.net
  sdb_sssd_pass: sdb://foo/bar
  sssd_name: username
  servers:
    - ad.somedomain.net ##This value will be discovered and should not need to be set if your network has domain controllers.
